.footer-fill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: clamp(260px, 70%, 800px);
}

.headline, .text-box {
    text-align: center;
}

.headline {
    padding-top: 60px;
    font-size: xx-large;
    color: var(--pink);
}

.text-box {
    margin-top: 30px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 150px;
}
