<div class="footer-fill">
    <div>
        <div class="headline">
            <h1>contact</h1>
        </div>
    
        <div class="text-box">
            <p>Hier kontaktieren</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
    
        <div class="button-container">
            <button mat-flat-button color="primary" class="email-button" (click)="redirect()">
                <mat-icon>mail_outline</mat-icon>
                Email
            </button>
    
            <mat-icon id="copy" class="copy-button" (click)="copy()" aria-label="copy email">
                file_copy
            </mat-icon>
        </div>
    </div>
</div>

<div class="footer"><app-footer></app-footer></div>
